@if (Conversation().length > 1) {
  <div class="flex flex-col gap-5 w-10/12 md:w-1/2 mx-auto py-10 h-full max-w-3xl">
    @for (item of Conversation(); track $index) {
      @switch (item.type) {
        @case ("USER") {
          <div class="self-end rounded-sm p-3 px-4 max-w-[80%] bg-white border border-black/[0.8] shadow-[2px_2px_0px_rgba(0,0,0,0.56)] text-black text-sm font-light">
            {{item.content}}
          </div>
        }
        @case ("ASSISTANT") {
          <markdown [data]="item.content" class="self-start p-3 px-4 max-w-[80%] rounded-sm bg-blue-600/[0.1] border border-blue-400/[0.8] shadow-[3px_3px_0px_#155dfc60] text-blue-700/[0.63] text-sm font-light"></markdown>
        }
        @case ("SYSTEM") {
          <div class="p-3 px-4 rounded-sm bg-red-500/[0.1] border border-red-500/[0.8] shadow-[3px_3px_0px_rgba(239,68,68,0.65)] text-red-500 text-sm font-light">
            {{item.content}}
          </div>
        }
        @default {
          <div class="p-3 px-4 rounded-xl bg-red-500/[0.1] border border-red-500/[0.8] shadow-[3px_3px_0px_rgba(239,68,68,0.65)] text-red-500 text-sm font-light">
            {{item.content}}
          </div>
        }
      }
    }

    <div class="p-3 opacity-0 px-4 rounded-xl bg-red-500/[0.1] border border-red-500/[0.8] shadow-[3px_3px_0px_rgba(239,68,68,0.65)] text-red-500 text-sm font-light">
      <div class="h-10"></div>
    </div>
  </div>
}@else {
  <div class="flex flex-col justify-center gap-5 w-10/12 md:w-1/2 mx-auto py-10 h-full max-w-3xl">
    @for (item of Conversation(); track $index) {
      @switch (item.type) {
        @case ("USER") {
          <div class="self-end rounded-sm p-3 px-4 max-w-[80%] bg-white border border-black/[0.8] shadow-[2px_2px_0px_rgba(0,0,0,0.56)] text-black text-sm font-light">
            {{item.content}}
          </div>
        }
        @case ("ASSISTANT") {
          <markdown [data]="item.content" class="self-start p-3 px-4 max-w-[80%] rounded-sm bg-blue-600/[0.1] border border-blue-400/[0.8] shadow-[3px_3px_0px_#155dfc60] text-blue-700/[0.63] text-sm font-light"></markdown>
        }
        @case ("SYSTEM") {
          <div class="p-3 px-4 rounded-sm bg-red-500/[0.1] border border-red-500/[0.8] shadow-[3px_3px_0px_rgba(239,68,68,0.65)] text-red-500 text-sm font-light">
            {{item.content}}
          </div>
        }
        @default {
          <div class="p-3 px-4 rounded-xl bg-red-500/[0.1] border border-red-500/[0.8] shadow-[3px_3px_0px_rgba(239,68,68,0.65)] text-red-500 text-sm font-light">
            {{item.content}}
          </div>
        }
      }
    }
    <img src="ascii.png" alt="">
  </div>
}


<div class="fixed bottom-10 w-9/12 md:w-3/5 left-1/2 transform -translate-x-1/2 px-5">
  <input type="text" 
  [ngModel]="text()"
  (ngModelChange)="onUserNameChange($event)" 
  class="bg-white px-4 text-sm rounded-sm text-gray-400 shadow-[3px_3px_0px_#99a1af] font-light border border-gray-200 h-12 w-full focus:outline-none focus:border-gray-300 focus:text-gray-500" placeholder="Ask anything">
  <span class="absolute right-8 bottom-3.5 flex size-3">
    <span 
    class="relative inline-flex size-2.5 rounded-sm flicker bg-black/[0.2]"
    [ngClass]="{
      'bg-transparent':isTouched() === false,
      'bg-black/[0.1]': timeLeftToSend() > 2,
      'bg-black/[0.7]': timeLeftToSend() === 2,
      'bg-black flicker_faster': timeLeftToSend() === 1,
      'bg-blue-600 flicker_faster': timeLeftToSend() === 0
    }"></span>
  </span>
</div>

<div class="flex flex-col gap-2 fixed top-5 left-5 z-10">
  <div class="border p-2 shadow-[3px_3px_0px_#99a1af] rounded-sm cursor-pointer">
    <img src="ghost.svg" class="h-6">
  </div>
  @if(Conversation().length > 1){
    <div (click)="newConversation()" class="border p-2 shadow-[3px_3px_0px_#99a1af] rounded-sm cursor-pointer hover:shadow-[2px_2px_0px_#99a1af] transition-all">
      <img src="new.svg" class="h-6">
    </div>
  }
  
</div>
