
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@theme {
  --font-roboto: 'Roboto Mono', monospace;
  --font-jet: 'JetBrains Mono', monospace;
  --font-robo: 'Roboto', sans-serif;
}

.code-roboto {
  font-family: var(--font-roboto);
}

.code-jet {
  font-family: var(--font-jet);
}
.code-robo {
  font-family: var(--font-robo);
}

/* Enable dark mode selector variant */
@variant dark (.dark &);

.flicker {
  animation: flicker 1s infinite;
}

.flicker_faster {
  animation: flicker_faster 0.3s infinite;
}

@keyframes flicker {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(0.8);
  }
}

@keyframes flicker_faster {
  0%, 100% { opacity: 1; transform: scale(1); }
  50% { opacity: 0.3; transform: scale(0.7); }
}

.active-link {
  @apply text-white;
}
